{% extends 'base.html.twig' %}

{% block title %}Détails de la Soutenance{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Détails de la Soutenance</h1>

        <div class="card shadow p-4">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ soutenance.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Numéro de Jury</th>
                    <td>{{ soutenance.numjury }}</td>
                </tr>
                <tr>
                    <th scope="row">Date de Soutenance</th>
                    <td>{{ soutenance.dateSoutenance ? soutenance.dateSoutenance|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">Note</th>
                    <td>{{ soutenance.note }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_soutenance_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Retour à la liste
            </a>
            <a href="{{ path('app_soutenance_edit', {'id': soutenance.id}) }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i> Modifier
            </a>
            {{ include('soutenance/_delete_form.html.twig', { 'attr': { 'class': 'd-inline' } }) }}
        </div>
    </div>
{% endblock %}
